body{
  background-color: lightgray;
}


.character{
  display: flex;
  padding: 25px;
  height: 300px;
  background-color: rgb(70, 53, 53) ;
  color: white;
  border-radius: 20px;
}

.char-text{
  padding: 25px;
}
